<div class="table-control">
  <button mat-stroked-button color="primary" (click)="onAddCurriculum()">
    Добавить новый РУП
  </button>
</div>
<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z6">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название РУП </th>
      <td mat-cell *matCellDef="let curriculum">
        {{curriculum.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
      <td mat-cell *matCellDef="let curriculum">
        {{getStatus(curriculum.status)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let curriculum" class="table-button-container">
        <button mat-button class="table-button" (click)="onEditCurriculum(curriculum)">
          <mat-icon>edit</mat-icon>
        </button>
        <a [routerLink]="['/curriculum/content', curriculum.id]">
          <button mat-button class="table-button">
            <mat-icon>assignment</mat-icon>
          </button>
        </a>
        <button mat-button class="table-button" (click)="onDeleteCurriculum(curriculum)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
