.table-container{
  height: calc(100vh - 310px);
}

.mat-form-field {
  font-size: 14px;
  margin-right: 20px;
  width: calc(100% - 60px);
}

.edu-forms{
  margin: 10px 20px 0 20px;
}

.edu-forms mat-chip {
   margin-right: 10px;
 }

.table-control{
  text-align: right;
}
