<div class="edu-forms">
  <mat-chip *ngFor="let form of specEducationForms" (click)="onEditEducationForm(form)">
    {{form.name}} - {{form.period}}
  </mat-chip>
  <button mat-stroked-button color="primary" (click)="onAddEducationForm()"
          *ngIf="specEducationForms.length == 0">
    Добавить форму обучения
  </button>
  <button mat-mini-fab color="primary" (click)="onAddEducationForm()"
          *ngIf="specEducationForms.length != 0">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="table-control">
  <button mat-stroked-button color="primary" (click)="onAddProfile()">
    Добавить профиль
  </button>
</div>
<div class="table-container">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z6">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название профиля </th>
      <td mat-cell *matCellDef="let profile">
        {{profile.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Кафедра </th>
      <td mat-cell *matCellDef="let profile">
        {{profile.department}}
      </td>
    </ng-container>

    <ng-container matColumnDef="educationForms">
      <th mat-header-cell *matHeaderCellDef> Формы образования </th>
      <td mat-cell *matCellDef="let profile">
        <mat-chip-list>
          <mat-chip *ngFor="let form of profile.educationForms">{{form}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let profile" class="table-button-container">
        <button mat-button class="table-button" (click)="onEditProfile(profile)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button class="table-button" (click)="onDeleteProfile(profile)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
