.curriculum-tab {
  margin: 10px 20px 0 20px;
}

.control-button{
  margin-right: 10px;
}

.return-button{
  margin-left: 20px;
}

.routing-link {
  text-decoration: none;
}

.controls-container{
  display: flex;
  justify-content: space-between;
}
