<div class="controls-container">
  <a [routerLink]="['/curriculum']" class="routing-link">
    <button mat-stroked-button color="primary" class="return-button control-button"
            (click)="onReturnToList()">
      Назад к списку
    </button>
  </a>
  <div>
    <button mat-stroked-button color="primary" class="control-button" (click)="onCheck()">
      Проверить РУП
    </button>
    <button mat-stroked-button color="primary" class="control-button" disabled>
      Печать РУП
    </button>
    <button mat-stroked-button color="primary" class="control-button" *ngIf="userConfig.containsRight(3)" disabled>
      Экспорт РУП
    </button>
  </div>
</div>
<mat-tab-group class="curriculum-tab">
  <mat-tab label="Дисциплины, практики, ГИА">
    <app-matrix [curriculumId]="curriculumId"></app-matrix>
  </mat-tab>
  <mat-tab label="Календарный график">
    <app-calendar-schedule [curriculumId]="curriculumId"></app-calendar-schedule>
  </mat-tab>
  <mat-tab label="Учебный план">
    <app-curriculum-table [curriculumId]="curriculumId"></app-curriculum-table>
  </mat-tab>
</mat-tab-group>
