<div class="dialog-container">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput placeholder="Код"  [(ngModel)]="data.competence.code">
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Название"  [(ngModel)]="data.competence.name">
    </mat-form-field>
    <mat-form-field class="input-field">
      <textarea matInput placeholder="Описание" [(ngModel)]="data.competence.description"
      style="height: 100px;"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Отмена</button>
    <button mat-button (click)="onSave()">Сохранить</button>
  </div>
</div>
