<div>
  <h1 mat-dialog-title>Редактирование составляющей РУП</h1>
  <div mat-dialog-content>
    <mat-card-title style="margin-bottom: 10px;">{{data.component.type == 2 ? data.component.value.kind + ' (' + data.component.value.type + ')' :
      (data.component.type == 3 ? 'ВКР' : data.component.value.name)}}</mat-card-title>
    <mat-card-title class="subtitle">Кафедра: {{data.component.value.department}}</mat-card-title>
    <mat-card-title class="subtitle">Блок: {{data.component.content.unit == 1 ? 'Б1 - Дисциплины (модули)' : data.component.content.unit == 2 ? 'Б2 - Практика' : 'Б3 - Государственная итоговая аттестация'}}</mat-card-title>
    <mat-card-title class="subtitle">Класс: {{data.component.content.classNum}}</mat-card-title>
    <mat-card-title class="subtitle">Курс: {{data.component.content.course}}</mat-card-title>
    <mat-card-title class="subtitle">Семестр: {{data.component.content.term}}</mat-card-title>
    <mat-form-field class="input-field">
      <mat-label>Вид</mat-label>
      <mat-select [value]="data.component.content.kind + ''" (value)="data.component.content.kind">
        <mat-option value="1">1 - обязательная</mat-option>
        <mat-option value="2">2 - электив</mat-option>
        <mat-option value="9">9 - электив</mat-option>
        <mat-option value="3">3 - факультатив</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Компонент</mat-label>
      <mat-select [value]="data.component.content.component + ''" (value)="data.component.content.component">
        <mat-option value="6">6 - обязательная часть</mat-option>
        <mat-option value="7">7 - часть, формируемая участниками образовательных отношений</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-card-title class="subtitle">Часы в неделю</mat-card-title>
      <mat-form-field class="input-field">
        <input matInput placeholder="Лекции"  [(ngModel)]="data.component.content.lectures">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Лабораторные работы"  [(ngModel)]="data.component.content.labWorks">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Практические работы"  [(ngModel)]="data.component.content.practiceWorks">
      </mat-form-field>
    </div>
    <div>
      <mat-card-title class="subtitle">Трудоемкость</mat-card-title>
      <mat-form-field class="input-field">
        <input matInput placeholder="Аудиторные часы"  [(ngModel)]="data.component.content.classroom">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Часы на консультации"  [(ngModel)]="data.component.content.consultation">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Часы на СРС"  [(ngModel)]="data.component.content.independentWork">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Часы на промежуточный контроль"  [(ngModel)]="data.component.content.intermediateControl">
      </mat-form-field>
        <div class="mat-form-field" style="width: 100%; margin-bottom: 10px">Всего в часах: {{getTotalLaborIntensity()}}</div>
        <div class="mat-form-field" style="width: 100%;">Всего в зачетных единицах: {{getTotalLaborIntensity()/36}}</div>
    </div>
    <div style="margin-top: 20px;">
      <div>
      <mat-checkbox [(ngModel)]="data.component.content.certifications[0]" color="primary">зачет</mat-checkbox>
      </div>
      <div>
      <mat-checkbox [(ngModel)]="data.component.content.certifications[1]" color="primary">экзамен</mat-checkbox>
      </div>
      <div>
      <mat-checkbox [(ngModel)]="data.component.content.certifications[2]" color="primary">задания</mat-checkbox>
      </div>
      <div>
      <mat-checkbox [(ngModel)]="data.component.content.certifications[3]" color="primary">практика</mat-checkbox>
      </div>
      <div>
      <mat-checkbox [(ngModel)]="data.component.content.certifications[4]" color="primary">ВКР</mat-checkbox>
      </div>
      <div>
      <mat-checkbox [(ngModel)]="data.component.content.certifications[5]" color="primary">ГЭК</mat-checkbox>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Отмена</button>
    <button mat-button (click)="onSave()">Сохранить</button>
  </div>
</div>
