<div class="dialog-container">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input type="text" placeholder="Кафедра"
             matInput [formControl]="departmentControl"
             [matAutocomplete]="autoDepartment" [(ngModel)]="data.component.value.department">
      <mat-autocomplete #autoDepartment="matAutocomplete">
        <mat-option *ngFor="let department of filteredDepartments | async" [value]="department">
          {{department}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Отмена</button>
    <button mat-button (click)="onSave()">Сохранить</button>
    <button mat-button *ngIf="data.isExist" (click)="onDeleteComponent()">Удалить</button>
  </div>
</div>
