@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body{
  margin: 0;
  overflow: hidden;
}

table {
  width: 100%;
}

.dialog-container{
  width: 400px;
}

.input-field {
  width: 100%;
}

.mat-dialog-content {
  height: auto;
  padding-bottom: 10px !important;
}

mat-slide-toggle{
  margin-top: 15px;
  width: 100%;
}

.controls-container{
  margin: 10px 20px 0 20px;
}

.table-container{
  padding: 0 0 0 20px;
  margin-right: 20px;
  overflow: auto;
}

.table-button-container{
  padding-right: 10px !important;
  text-align: right;
  width: 70px;
}

.table-button{
  padding: 0 !important;
  min-width: 32px !important;
}

mat-card{
  margin: 10px 0;
}
