<div class="dialog-container">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput placeholder="ФИО"  [(ngModel)]="data.user.name">
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Email"  [(ngModel)]="data.user.email">
    </mat-form-field>
    <mat-form-field class="input-field">
      <input type="text" placeholder="Кафедра" aria-label="Number" matInput [formControl]="departmentControl" [matAutocomplete]="auto" [(ngModel)]="data.user.department">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let department of filteredDepartments | async" [value]="department">
          {{department}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-slide-toggle color="primary" [(ngModel)]="data.user.rights[0]">
      Администратор системы
    </mat-slide-toggle>
    <mat-slide-toggle color="primary" [(ngModel)]="data.user.rights[1]">
      Администратор университета
    </mat-slide-toggle>
    <mat-slide-toggle color="primary" [(ngModel)]="data.user.rights[2]">
      Специалист УМУ
    </mat-slide-toggle>
    <mat-slide-toggle color="primary" [(ngModel)]="data.user.rights[3]">
      Сотрудник кафедры
    </mat-slide-toggle>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Отмена</button>
    <button mat-button (click)="onSave()">Сохранить</button>
  </div>
</div>
