<div class="controls-container">
  <mat-form-field>
    <mat-icon matPrefix style="margin-right: 5px">search</mat-icon>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="onAddCompetence()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="table-container" [ngClass]="{'table-container-spec' : isSpec, 'table-container-program' : !isSpec}">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z6">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Код </th>
      <td mat-cell *matCellDef="let competence">
        {{competence.code}}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
      <td mat-cell *matCellDef="let competence">
        {{competence.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Описание </th>
      <td mat-cell *matCellDef="let competence">
        {{competence.description}}
      </td>
    </ng-container>

    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let competence" class="table-button-container">
        <button mat-button class="table-button" (click)="onEditCompetence(competence)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button class="table-button" (click)="onDeleteCompetence(competence)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
