.table-container-spec{
  height: calc(100vh - 330px);
}

.table-container-program{
  height: calc(100vh - 250px);
}

.mat-form-field {
  font-size: 14px;
  margin-right: 20px;
  width: calc(100% - 60px);
}
