<div class="dialog-container">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput placeholder="Код"  [(ngModel)]="data.spec.code">
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Название"  [(ngModel)]="data.spec.name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Отмена</button>
    <button mat-button (click)="onSave()">Сохранить</button>
    <button mat-button *ngIf="data.isExist" (click)="onDeleteSpec()">Удалить</button>
  </div>
</div>
