.title{
  display: flex;
  align-items: center;
}

.header{
  justify-content: space-between;
}
.header-button{
  color: white;
  border-color: white;
  margin-left: 10px;
}
.footer{
  height: 32px;
  position: absolute;
  bottom: 0;
}
.routing-link {
  text-decoration: none;
}
