<mat-toolbar class="header" color="primary">
  <span class="title">
    <img src="assets/images/stu.png" width="60em"/>
    Конструктор рабочих учебных планов
  </span>
  <div class="header-buttons">
    <a [routerLink]="['/admin']" class="routing-link" *ngIf="userConfig.containsRight(1)">
      <button mat-stroked-button class="header-button">Администрирование</button>
    </a>
    <a [routerLink]="['/specialization']" class="routing-link"  *ngIf="userConfig.containsRight(2)">
     <button mat-stroked-button class="header-button">Направления подготовки</button>
    </a>
    <a [routerLink]="['/curriculum']" class="routing-link"  *ngIf="userConfig.containsRight(3)||userConfig.containsRight(4)">
      <button mat-stroked-button class="header-button">Рабочие учебные планы</button>
    </a>
    <button mat-stroked-button class="header-button" [matMenuTriggerFor]="profileMenu">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="onLogOut()">Выйти</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar class="footer" color="primary"></mat-toolbar>
