<div class="dialog-container">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput placeholder="Название"  [(ngModel)]="data.profile.name">
    </mat-form-field>
    <mat-form-field class="input-field">
      <input type="text" placeholder="Кафедра" aria-label="Number" matInput [formControl]="departmentControl" [matAutocomplete]="auto" [(ngModel)]="data.profile.department">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let department of filteredDepartments | async" [value]="department">
          {{department}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-slide-toggle *ngFor="let form of data.specEducationForms" color="primary" [checked]="isSelected(form.name)"
                      (change)="onSelectForm($event, form.name)">
      {{form.name}}
    </mat-slide-toggle>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Отмена</button>
    <button mat-button (click)="onSave()">Сохранить</button>
  </div>
</div>
