<div class="controls-container">
  <mat-form-field>
    <mat-icon matPrefix style="margin-right: 5px">search</mat-icon>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="onAddUser()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-stroked-button color="primary" disabled>
    Импорт данных
  </button>
</div>
<div class="table-container">

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z6">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ФИО </th>
      <td mat-cell *matCellDef="let user">
       {{user.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user">
        {{user.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Кафедра </th>
      <td mat-cell *matCellDef="let user">
        {{user.department}}
      </td>
    </ng-container>

    <ng-container matColumnDef="rights">
      <th mat-header-cell *matHeaderCellDef>Права пользователя</th>
      <td mat-cell *matCellDef="let user">
        <mat-chip-list>
          <mat-chip *ngIf="user.rights[0]">Администратор системы</mat-chip>
          <mat-chip *ngIf="user.rights[1]">Администратор университета</mat-chip>
          <mat-chip *ngIf="user.rights[2]">Специалист УМУ</mat-chip>
          <mat-chip *ngIf="user.rights[3]">Сотрудник кафедры</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user" class="table-button-container">
        <button mat-button class="table-button" (click)="onEditUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button class="table-button" (click)="onDeleteUser(user)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
