.controls-container{
  margin-bottom: 20px;
}

.table-container{
  height: calc(100% - 195px);
}

.mat-form-field {
  font-size: 14px;
  margin-right: 20px;
  width: calc(100% - 60px);
}

.mat-column-name, .mat-column-email{
    width: 20%;
}

.mat-column-department, .mat-column-rights{
    width: 25%;
}

.mat-column-rights{
    width: 30%;
}

mat-chip-list{
  margin: 0 5px 0 5px;
}

