<div class="controls-container">
  <button mat-stroked-button color="primary" class="control-button" (click)="onAddYear()">
    Добавить последний курс
  </button>
  <button mat-stroked-button color="primary" class="control-button" (click)="onDeleteYear()">
    Удалить последний курс
  </button>
  <button mat-stroked-button color="primary" class="control-button" disabled>
    Печать календарного графика
  </button>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Курс </th>
      <td mat-cell *matCellDef="let year">
        {{year.num}}
      </td>
    </ng-container>

    <ng-container [matColumnDef]="column" *ngFor="let column of weeksColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let year">
        <button mat-raised-button [matMenuTriggerFor]="weekMenu"
                style="min-width: 48px" [ngStyle]="{'color': getTypeColor(year.weeks[column-1].type)}">
        {{getType(year.weeks[column-1].type)}}
        </button>
        <mat-menu #weekMenu="matMenu">
          <button mat-menu-item (click)="onChangeType(year.num, column, 1)">Теоретическое обучение (Т)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 2)">Зачетная неделя (З)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 3)">Экзаменационная сессия (Э)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 4)">Каникулы (К)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 5)">Гос. экзамены (Г)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 6)">Подготовка к процедуре защиты ВКР (Д)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 7)">Защита ВКР (А)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 8)">Учебная практика (У)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 9)">Производственная практика (П)</button>
          <button mat-menu-item (click)="onChangeType(year.num, column, 10)">Преддипломная практика (Р)</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
