.control-button{
  margin-right: 10px;
}

.table-container{
  max-height: calc(100vh - 305px);
  margin-top: 20px;
}

td.mat-cell{
  border: none;
  padding: 0 5px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-left: 0 !important;
}

th.mat-header-cell{
  text-align: center;
}
