<div class="dialog-container">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput placeholder="Название учебного плана"  [(ngModel)]="data.curriculum.name">
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Статус</mat-label>
      <mat-select [value]="data.curriculum.status + ''" (value)="data.curriculum.status">
        <mat-option value="1">основной</mat-option>
        <mat-option value="2">черновой</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Отмена</button>
    <button mat-button (click)="onSave()">Сохранить</button>
  </div>
</div>
