<div class="controls-container">
  <mat-form-field class="spec-filter">
    <input type="text" placeholder="Направление подготовки" matInput [formControl]="specControl"
           [matAutocomplete]="auto" [(ngModel)]="selectedSpec">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectSpec()">
      <mat-option *ngFor="let spec of filteredSpecs | async" [value]="spec" >
        {{spec.code}} - {{spec.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-mini-fab color="primary" class="spec-button" [disabled]="!isSelected" (click)="onEditSpec()">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="spec-button" (click)="onAddSpec()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-tab-group class="spec-tab" *ngIf="isSelected">
  <mat-tab label="Формы обучения и профили">
    <app-profiles #educationPrograms [specialization]="selectedSpec"></app-profiles>
  </mat-tab>
  <mat-tab label="Компетенции">
    <app-competencies #competenciesTable [specialization]="selectedSpec" [isSpec]="true"></app-competencies>
  </mat-tab>
</mat-tab-group>
