<div class="controls-container">
  <div class="select-container">
    <mat-form-field class="curriculum-filter">
      <input type="text" placeholder="Направление подготовки" aria-label="Number"
             matInput [formControl]="specControl"
             [matAutocomplete]="autoSpec" [(ngModel)]="selectedSpec">
      <mat-autocomplete #autoSpec="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectSpec()">
        <mat-option *ngFor="let spec of filteredSpecs | async" [value]="spec">
          {{spec.code}} - {{spec.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="curriculum-filter">
      <mat-label>Профиль подготовки</mat-label>
      <mat-select [disabled]="!selectedSpec" [(ngModel)]="selectedProfile" (selectionChange)="onSelectProfile()">
        <mat-option *ngFor="let profile of profiles" [value]="profile">
          {{profile.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="curriculum-filter">
      <mat-label>Форма обучения</mat-label>
      <mat-select [disabled]="!selectedProfile" [(ngModel)]="selectedEducationForm" (selectionChange)="onSelectEduForm()">
        <mat-option *ngFor="let form of educationForms" [value]="form">
          {{form.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-radio-group [(ngModel)]="showCompetencies">
    <mat-radio-button [value]="true" color="primary">Компетенции</mat-radio-button>
    <mat-radio-button [value]="false" color="primary">Список РУП</mat-radio-button>
  </mat-radio-group>
</div>
<div *ngIf="selectedEducationForm">
  <app-competencies #competenciesTable *ngIf="showCompetencies" [specialization]="selectedSpec"
                    [profile]="selectedProfile" [eduForm]="selectedEducationForm" [isSpec]="false"></app-competencies>
  <router-outlet *ngIf="!showCompetencies"></router-outlet>
</div>
