.controls-container{
  display: flex;
  align-items: center;
}

.select-container {
  display: flex;
  justify-content: space-between;
  width: 75vw;
}

.curriculum-filter{
  width: 30%;
}

.mat-radio-button{
  margin-left: 20px;
}
