<div class="dialog-container">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <mat-label>Форма обучения</mat-label>
      <mat-select [(value)]="data.form.name">
        <mat-option *ngFor="let form of formsEducation" [value]="form">
          {{form}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Срок обучения (в годах)"  [(ngModel)]="data.form.period">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Отмена</button>
    <button mat-button (click)="onSave()">Сохранить</button>
    <button mat-button *ngIf="data.isExist" (click)="onDeleteForm()">Удалить</button>
  </div>
</div>
