.curriculum-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 310px);
  padding: 20px 0;
  overflow: hidden;
}

.column{
  flex-direction: column;
  width: 100%;
}

.label-container{
  display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-around;
   height: 32px;
   margin-bottom: 10px;
}

.unit-container{
   overflow: auto;
    height: calc(100% - 32px);
}

.terms-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.drop-list-container {
  width: calc(100%/8);
  min-height: 100%;
}

mat-card {
  margin: 0 5px 10px 5px;
  word-wrap: break-word;
}

