<div class="curriculum-container">
  <div class="column">
    <div class="label-container">
      <div class="term-label" *ngFor="let label of termsLabels">
        <mat-chip color="primary" selected>{{label}} семестр</mat-chip>
      </div>
    </div>
    <div class="unit-container">
      <mat-card #subjectsUnit>
        <mat-card-header>
          <mat-card-title>
            Б1 - Дисциплины (модули)
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="terms-container">
            <div
              cdkDropList
              #subjectsTerm1="cdkDropList"
              [cdkDropListData]="disciplines[0]"
              [cdkDropListConnectedTo]="[subjectsTerm2, subjectsTerm3, subjectsTerm4,
              subjectsTerm5, subjectsTerm6, subjectsTerm7, subjectsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of disciplines[0]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #subjectsTerm2="cdkDropList"
              [cdkDropListData]="disciplines[1]"
              [cdkDropListConnectedTo]="[subjectsTerm1, subjectsTerm3, subjectsTerm4,
              subjectsTerm5, subjectsTerm6, subjectsTerm7, subjectsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of disciplines[1]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #subjectsTerm3="cdkDropList"
              [cdkDropListData]="disciplines[2]"
              [cdkDropListConnectedTo]="[subjectsTerm1, subjectsTerm2, subjectsTerm4,
              subjectsTerm5, subjectsTerm6, subjectsTerm7, subjectsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of disciplines[2]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #subjectsTerm4="cdkDropList"
              [cdkDropListData]="disciplines[3]"
              [cdkDropListConnectedTo]="[subjectsTerm1, subjectsTerm2, subjectsTerm3,
              subjectsTerm5, subjectsTerm6, subjectsTerm7, subjectsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of disciplines[3]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #subjectsTerm5="cdkDropList"
              [cdkDropListData]="disciplines[4]"
              [cdkDropListConnectedTo]="[subjectsTerm1, subjectsTerm2, subjectsTerm3,
                subjectsTerm4, subjectsTerm6, subjectsTerm7, subjectsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of disciplines[4]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #subjectsTerm6="cdkDropList"
              [cdkDropListData]="disciplines[5]"
              [cdkDropListConnectedTo]="[subjectsTerm1, subjectsTerm2, subjectsTerm3,
                subjectsTerm4, subjectsTerm5, subjectsTerm7, subjectsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of disciplines[5]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #subjectsTerm7="cdkDropList"
              [cdkDropListData]="disciplines[6]"
              [cdkDropListConnectedTo]="[subjectsTerm1, subjectsTerm2, subjectsTerm3,
                subjectsTerm4, subjectsTerm5, subjectsTerm6, subjectsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of disciplines[6]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #subjectsTerm8="cdkDropList"
              [cdkDropListData]="disciplines[7]"
              [cdkDropListConnectedTo]="[subjectsTerm1, subjectsTerm2, subjectsTerm3,
                subjectsTerm4, subjectsTerm5, subjectsTerm6, subjectsTerm7]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of disciplines[7]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card #practicesUnit>
        <mat-card-header>
          <mat-card-title>
            Б2 - Практики
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="terms-container">
            <div
              cdkDropList
              #practicesTerm1="cdkDropList"
              [cdkDropListData]="practices[0]"
              [cdkDropListConnectedTo]="[practicesTerm2, practicesTerm3, practicesTerm4,
              practicesTerm5, practicesTerm6, practicesTerm7, practicesTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of practices[0]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #practicesTerm2="cdkDropList"
              [cdkDropListData]="practices[1]"
              [cdkDropListConnectedTo]="[practicesTerm1, practicesTerm3, practicesTerm4,
              practicesTerm5, practicesTerm6, practicesTerm7, practicesTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of practices[1]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #practicesTerm3="cdkDropList"
              [cdkDropListData]="practices[2]"
              [cdkDropListConnectedTo]="[practicesTerm1, practicesTerm2, practicesTerm4,
              practicesTerm5, practicesTerm6, practicesTerm7, practicesTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of practices[2]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #practicesTerm4="cdkDropList"
              [cdkDropListData]="practices[3]"
              [cdkDropListConnectedTo]="[practicesTerm1, practicesTerm2, practicesTerm3,
              practicesTerm5, practicesTerm6, practicesTerm7, practicesTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of practices[3]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #practicesTerm5="cdkDropList"
              [cdkDropListData]="practices[4]"
              [cdkDropListConnectedTo]="[practicesTerm1, practicesTerm2, practicesTerm3,
              practicesTerm4, practicesTerm6, practicesTerm7, practicesTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of practices[4]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #practicesTerm6="cdkDropList"
              [cdkDropListData]="practices[5]"
              [cdkDropListConnectedTo]="[practicesTerm1, practicesTerm2, practicesTerm3,
              practicesTerm4, practicesTerm5, practicesTerm7, practicesTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of practices[5]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #practicesTerm7="cdkDropList"
              [cdkDropListData]="practices[6]"
              [cdkDropListConnectedTo]="[practicesTerm1, practicesTerm2, practicesTerm3,
              practicesTerm4, practicesTerm5, practicesTerm6, practicesTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of practices[6]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #practicesTerm8="cdkDropList"
              [cdkDropListData]="practices[7]"
              [cdkDropListConnectedTo]="[practicesTerm1, practicesTerm2, practicesTerm3,
              practicesTerm4, practicesTerm5, practicesTerm6, practicesTerm7]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of practices[7]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card #SFSUnit>
        <mat-card-header>
          <mat-card-title>
            Б3 - Госудраственная итоговая аттестация
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="terms-container">
            <div
              cdkDropList
              #sfsTerm1="cdkDropList"
              [cdkDropListData]="sfs[0]"
              [cdkDropListConnectedTo]="[sfsTerm2, sfsTerm3, sfsTerm4,
               sfsTerm5, sfsTerm6, sfsTerm7, sfsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of sfs[0]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #sfsTerm2="cdkDropList"
              [cdkDropListData]="sfs[1]"
              [cdkDropListConnectedTo]="[sfsTerm1, sfsTerm3, sfsTerm4,
               sfsTerm5, sfsTerm6, sfsTerm7, sfsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of sfs[1]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #sfsTerm3="cdkDropList"
              [cdkDropListData]="sfs[2]"
              [cdkDropListConnectedTo]="[sfsTerm1, sfsTerm2, sfsTerm4,
               sfsTerm5, sfsTerm6, sfsTerm7, sfsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of sfs[2]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #sfsTerm4="cdkDropList"
              [cdkDropListData]="sfs[3]"
              [cdkDropListConnectedTo]="[sfsTerm1, sfsTerm2, sfsTerm3,
               sfsTerm5, sfsTerm6, sfsTerm7, sfsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of sfs[3]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #sfsTerm5="cdkDropList"
              [cdkDropListData]="sfs[4]"
              [cdkDropListConnectedTo]="[sfsTerm1, sfsTerm2, sfsTerm3,
               sfsTerm4, sfsTerm6, sfsTerm7, sfsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of sfs[4]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #sfsTerm6="cdkDropList"
              [cdkDropListData]="sfs[5]"
              [cdkDropListConnectedTo]="[sfsTerm1, sfsTerm2, sfsTerm3,
               sfsTerm4, sfsTerm5, sfsTerm7, sfsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of sfs[5]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #sfsTerm7="cdkDropList"
              [cdkDropListData]="sfs[6]"
              [cdkDropListConnectedTo]="[sfsTerm1, sfsTerm2, sfsTerm3,
               sfsTerm4, sfsTerm5, sfsTerm6, sfsTerm8]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of sfs[6]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
            <div
              cdkDropList
              #sfsTerm8="cdkDropList"
              [cdkDropListData]="sfs[7]"
              [cdkDropListConnectedTo]="[sfsTerm1, sfsTerm2, sfsTerm3,
               sfsTerm4, sfsTerm5, sfsTerm6, sfsTerm7]"
              (cdkDropListDropped)="drop($event)"
              class="drop-list-container">
              <div *ngFor = "let component of sfs[7]" cdkDrag>
                <mat-card (click)=onEditContent(component)>
                  {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' :
                  (component.type == 3 ? 'ВКР' : component.value.name)}}
                </mat-card>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
