.login-form {
  width: 300px;
  height: 210px;
  margin: 15% auto;
}
.login-button{
  width: 100%;
  font-size: 15px;
}
.login-fields {
  height: 120px;
}
.login-header {
  justify-content: center;
}
.failed-text{
  color: red;
}
