<mat-card class="login-form">
  <mat-card-header class="login-header">
    <mat-card-title>Авторизация</mat-card-title>
  </mat-card-header>
  <mat-card-content class="login-fields">
    <mat-form-field class="input-field">
      <input matInput placeholder="Логин" [(ngModel)]="login" type="email" (focus)="failed = false;">
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput placeholder="Пароль" [(ngModel)]="password" type="password" (focus)="failed = false;">
    </mat-form-field>
    <div *ngIf="failed" class="failed-text">Неверный логин или пароль</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="login-button" color="primary" [disabled]="login == '' || password == ''" (click)="onLogin()">Войти</button>
  </mat-card-actions>
</mat-card>
