<div>
  <h1 mat-dialog-title>Проверка объема РУП</h1>
  <div mat-dialog-content>
    <mat-card-title *ngIf="data.disciplineError" style="color: red">Объем блока "Дисциплины (модули)" меньше 160 зачетных единиц</mat-card-title>
    <mat-card-title *ngIf="data.practiceError" style="color: red">Объем блока "Практики" меньше 20 зачетных единиц</mat-card-title>
    <mat-card-title *ngIf="data.sfsError" style="color: red">Объем блока "Государственная итоговая аттестация" меньше 9 зачетных единиц</mat-card-title>
    <mat-card-title *ngIf="data.totalError" style="color: red">Объем учебного плана меньше/больше 240 зачетных единиц</mat-card-title>
    <mat-card-title *ngIf="data.yearError" style="color: red">Объем учебного года больше 70 зачетных единиц</mat-card-title>
    <mat-card-title *ngIf="data.mandatoryPartError" style="color: red">Объем обязательной части меньше 96 зачетных единиц</mat-card-title>
    <mat-card-title *ngIf="!data.totalError&&!data.yearError&&!data.mandatoryPartError">Объем учебного плана соответствует ФГОС</mat-card-title>
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>OK</button>
  </div>
</div>
