<div class="controls-container">
  <mat-form-field>
    <mat-icon matPrefix style="margin-right: 5px">search</mat-icon>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
  </mat-form-field>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="col">
      <td mat-cell *matCellDef="let row">
        <mat-card class="competence-components-container">
          <mat-card-header>
            <mat-card-title style="font-size: 1rem">
              {{row.competence.code}} {{row.competence.name}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-chip-list>
              <mat-chip *ngFor="let component of row.components"
                        [selected]="component.type == 1 ? false : true"
                        [color]="component.type == 1 ? 'basic' : (component.type == 2 ? 'primary' : 'warn')"
                        (click)="onEditComponent(component)">
                {{component.type == 2 ? component.value.kind + ' (' + component.value.type + ')' : (component.type == 3 ? 'ВКР' : component.value.name)}}
              </mat-chip>
              <button mat-mini-fab color="primary"
                      class="add-button" [matMenuTriggerFor]="componentsMenu">
                <mat-icon>add</mat-icon>
              </button>
              <mat-menu #componentsMenu="matMenu">
                <button mat-menu-item (click)="onAddSubject(row.competence)">Дисциплина</button>
                <button mat-menu-item (click)="onAddPractice(row.competence)">Практика</button>
                <button mat-menu-item (click)="onAddFQW(row.competence)">ВКР</button>
                <button mat-menu-item (click)="onAddExam(row.competence)">Гос. экзамен</button>
              </mat-menu>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
